Repository twreporter/twreporter-npm-packages, pull requests merged in 2019-08, with the labels that each got.

#18 Fix several style problems
  packages/react-article-components/CHANGELOG.md
  packages/react-article-components/src/components/body/image-diff.js
  packages/react-article-components/src/components/leading/fullscreen.js
  packages/react-article-components/src/components/leading/normal.js
Labels: react-article-components

#19 implement related:card on-hover animation
  packages/react-article-components/src/components/article-page.js
  packages/react-article-components/src/components/related/card.js
  packages/react-article-components/src/components/related/index.js
  packages/react-article-components/src/components/related/list.js
  packages/react-article-components/src/constants/prop-types/related.js
Labels: react-article-components

#21 Take last 3 posts from `topic.related` for topic section.
  packages/index-page/CHANGELOG.md
  packages/index-page/package.json
  packages/index-page/src/components/latest-topic.js
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/react-components/src/listing-page/components/topics/index.js
Labels: index-page, react-components

#23 Update image components of `react-article-components`
  packages/react-article-components/CHANGELOG.md
  packages/react-article-components/dev/mock-post.json
  packages/react-article-components/package.json
  packages/react-article-components/src/components/body/index.js
  packages/react-article-components/src/components/img-with-placeholder/index.js
  packages/react-article-components/src/constants/element-alignment.js
  packages/react-article-components/src/constants/prop-types/body.js
Labels: core, react-article-components

#20 Add dependencies checking and git pre-push hook
  dev/constants.js
  dev/dependencies.test.js
  dev/print-dep-intersections.js
  dev/utils.js
  makefile
  package.json
  yarn.lock
Labels: enhancement
